* {
    font-family: 'GT Walsheim Pro';
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
}

.centr {
    display: flex;
    justify-content: center;
}