body {
    background-color: #CDD5DD;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a, img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

main {
    width: 100%;
    background-color: #CDD5DD;
    padding: 20px;
}