body {
    background-color: #CDD5DD;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a, img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px;
}

main .new, main .about, main .catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .about p {
    width: 500px;
}

::-webkit-scrollbar {
    display: none;
}