.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 200px;
}

.bottomHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-x: hidden;
    padding-right: 100px;
    width: 100vw;
    height: 50vh;
}

.bottomBackground {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110vw;
    height: 50vh;
    background-color: #FFFFFF;
    border-radius: 50% 50% 0 0 / 50% 50% 0 0;
    z-index: -1;
}

.about {
    width: 530px;
    margin-top: 150px;
    gap: 24px;
}

.new {
    display: flex;
    align-items: center;
    gap: 180px;
}

.newRow {
    gap: 40px;
}

.dronePrev {
    position: relative;
    background-position: center;
    background-size: cover;
    color: white;
    width: 437px;
    height: 437px;
    border-radius: 10px;
}

.dronePrev img {
    position: absolute;
    top: -30%;
}

.dronePrev > div {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(22, 39, 26, 0) 0%, #16271A 100%);
    background: linear-gradient(180deg, color(display-p3 0.102 0.153 0.106 / 0) 0%, color(display-p3 0.102 0.153 0.106) 100%);
    width: 100%;
    padding: 24px;
    border-radius: 10px;
    gap: 69px;
}

.dronePrev div h3 {
    font-size: 44px;
    font-weight: 500;
}

.dronePrev div div {
    justify-content: space-between;
}

.dronePrev div button {
    color: white;
    border-color: #FFFFFF;
}

.first {
    background-image: url('../../assets/static/bg/1.png');
}

.second {
    background-image: url('../../assets/static/bg/2.png');
}

.third {
    background-image: url('../../assets/static/bg/3.png');
}

.catalog {
    gap: 24px;
}