.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.title {
    margin-top: 20px;
}

.h1 {
    font-family: 'GT Walsheim Pro';
    font-size: 61px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

.row {
    display: flex;
    align-items: center;
}