header {
    position: absolute;
    top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    gap: 90px;
    width: calc(100% - 40px);
    height: 64px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #E4E4E7;
    backdrop-filter: blur(32px);
    border-radius: 62px;
    transform: translateX(20px);
}

header a {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #9EA0AB;
    text-decoration: none;
    -webkit-user-drag: none;
}

header .logo {
    background-image: url(../../assets/media/logo.svg);
    background-size: cover;
    background-position: center;
    width: 108px;
    height: 21px;
}

header .gap {
    display: flex;
    align-items: center;
    gap: 27px;
}

header button {
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 38px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all 0.3s;
}

header button:hover {
    background-color: #9ea0ab91;
}

.cartBtn {
    background-image: url(../../assets/media/cart.svg);
}

.profileBtn {
    background-image: url(../../assets/media/user.svg);
}

.tr {
    height: 84px;
}