
.stickyWrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header {
    position: relative;
    padding: 0;
    background: transparent;
    width: 100%;
}

header h1 {
    font-family: 'GT Walsheim Pro';
    font-size: 61px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-block-start: 100px;
    margin-block-end: 0;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    padding-right: 20px;
    gap: 90px;
    width: calc(100% - 40px);
    height: 64px;
    background: rgba(255, 255, 255, 0.459);
    border: 1px solid #E4E4E7;
    backdrop-filter: blur(32px);
    border-radius: 62px;
    margin: 20px auto 0;
    transition: all 0.3s;
}

.scrolled {
    position: sticky;
    top: 20px;
    z-index: 1000;
    margin-top: 0;
}

.header a {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #9EA0AB;
    text-decoration: none;
    -webkit-user-drag: none;
}

.header .logo {
    background-image: url(../../assets/img/logo.svg);
    background-size: cover;
    background-position: center;
    width: 108px;
    height: 21px;
}

.header .gap {
    display: flex;
    align-items: center;
    gap: 27px;
    width: 22vw;
}

.buttonsDiv {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 27px;
    width: 22vw;
}

.header button {
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 38px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all 0.3s;
}

.header button:hover {
    background-color: #9ea0ab91;
}

.cartBtn {
    background-image: url(../../assets/img/cart.svg);
}

.profileBtn {
    background-image: url(../../assets/img/user.svg);
}

.tr {
    height: 84px;
}