header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    gap: 90px;
    width: 1360px;
    height: 64px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #E4E4E7;
    backdrop-filter: blur(32px);
    border-radius: 62px;
}

header a {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #9EA0AB;
}