.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.footerWrapper {
    flex: 0 0 auto;
    border-top: 1px solid #E4E4E7;
    padding: 20px 0;
    text-align: center;
}