.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.footerWrapper {
    flex: 0 0 auto;
    border-top: 1px solid #E4E4E7;
    padding: 20px 0;
    text-align: center;
}

.drone {
    margin-top: -190px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -280px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 60px;
    gap: 20px;
}

.deco {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-55%) scale(1.2, -1.8);
    z-index: -1;
}