.footer {
    background-color: #CDD5DD;
    width: 100%;
    min-height: 600px; 
}

.footer .upper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/img/bg.svg);
    background-size: cover;
    background-position: center bottom; 
    width: 100%;
    height: 450px; 
    gap: 150px; 
}

.footer .column h2 {
    font-size: 45px; 
    font-weight: 600;
    color: #0C122A;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.footer .column p {
    font-size: 18px; 
    font-weight: 500;
    color: #0C122A;
    margin: 0;
    letter-spacing: 0.1px;
}

.footer .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    text-align: center;
}

footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer .row a {
    text-transform: uppercase;
    color: #0C122A;
}

.footer hr {
    background-color: #f4f4f488;
    width: calc(100% - 200px);
    min-height: 2px;
    border: none;
}

.copyright {
    width: 100%;
    height: 100px;
}

.copyright p {
    height: 18px;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #9EA0AB;
    color: color(display-p3 0.620 0.627 0.667);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.bottomFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 40px;
}

.footerLinks {
    gap: 27px;
}

.footerLinks a {
    font-family: 'GT Walsheim Pro';
    font-weight: 500;
    font-size: 16px;
    color: #0C122A;
    text-transform: uppercase;
    text-decoration: none;
}

.footerLinks a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}