footer {
    background-color: gray;
    width: 100%;
    height: 600px;
}

footer .upper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

footer .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}