.pageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 20px 0;
    background-color: #fff;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 100px
    
}

.sidebar {
    width: 280px;
    flex-shrink: 0;
}

.sidebarMainTitle {
    font-size: 22px;
    font-weight: 500;
    color: #0c122a;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.navLink, .navLinkActive {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: color 0.2s;
}

.navLink {
    color: #a1a1aa;
}

.navLinkActive {
    color: #0c122a;
}

.navLink:hover {
    color: #0c122a;
}

.divider {
    height: 1px;
    background: #e4e4e7;
    margin: 10px 0;
    width: 100%;
}

.exitBtn {
    background: none;
    border: none;
    color: #0c122a;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
    padding: 0;
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: opacity 0.2s;
}

.exitBtn:hover {
    opacity: 1;
}

.content {
    display: block;
    flex-grow: 1;
    width: 100%;
    max-width: 820px;

   
}

.pageTitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #0c122a;
    text-transform: none;
    letter-spacing: 0.5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
}

.field label {
    font-size: 13px; 
    font-weight: 500;
    color: #0c122a; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.input {
    width: 100%;
    height: 50px; 
    border: 1px solid #d4d4d8;
    padding: 0 16px;
    font-size: 16px; 
    color: #0c122a; 
    border-radius: 4px; 
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.input:focus {
    outline: none;
    border-color: #0c122a;
    box-shadow: 0 0 0 1px #0c122a; 
}

.input::placeholder {
    color: #a1a1aa; 
    font-size: 14px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.submitBtn {
    width: fit-content;
    padding: 12px 16px; 
    color: rgb(158, 160, 170) ;
    border: 1.5px, rgb(158, 160, 170) , solid;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 100px;
    height: 41px
    
}

.submitBtn:hover:not(:disabled) {
    opacity: 0.8; 
}

.submitBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #a1a1aa;
}
.successMsg {
    color: #10b981;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.errorMsg {
    color: #ef4444;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.loader {
    text-align: center;
    padding: 100px;
    font-size: 16px;
    color: #a1a1aa;
}