.container {
    display: flex;
    gap: 120px;
    max-width: 1440px;
    margin: 60px 0;
    padding-left: 40px; 
}

.sidebar {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebarMainTitle {
    font-size: 24px; 
    font-weight: 800;
    color: #0c122a;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.navLink, .navLinkActive, .exitBtn {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0;
}

.navLink { color: #a1a1aa; }
.navLinkActive { color: #0c122a; }

.divider {
    height: 1px;
    background: #e4e4e7;
    margin: 10px 0;
    width: 100%;
}

.exitBtn { color: #0c122a; }

.content {
    flex: 1;
    max-width: 800px; 
}

.pageTitle {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center; 
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputGroup label {
    font-size: 13px;
    font-weight: 600;
    color: #71717a;
}

.input {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    border: 1px solid #e4e4e7;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
}

.submitBtn {
    width: fit-content;
    padding: 12px 40px;
    background: #d4d4d8; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px; 
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.submitBtn:hover {
    background: #000000;
}